@import "../../styles.module.scss";

.Input-Main-Container {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.Input__Container {
  min-width: 100px;
  width: 100%;
  max-width: 550px;
  min-height: 100px;
  height: 100%;
  max-height: 500px;

  display: grid;
  grid-template: 2fr 2fr 2fr 2fr / 1fr;
  align-items: center;
  justify-items: center;

  background-color: $color-white;
  border-radius: $border-radius * 2;
  box-shadow: 2px 2px 2px 1px $color-shadow;
}

.Input__Container h3 {
  margin: 0;
  font-size: 32px;
  text-align: center;
}

.Input__Container span {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.Input__Container input {
  outline: none;
  height: 40px;
  width: 70%;
  max-width: 650px;
  padding: 0 20px;
  font-weight: 400;
  font-size: 18px;
  color: $color-secondary;
  border: 1px solid $color-input-border;
  border-radius: $border-radius * 2;
  background-color: $color-input;
}

.Input__Container input::placeholder {
  opacity: 0.85;
}

.Input__Container input:hover {
  box-shadow: 1px 1px 1px 1px $color-shadow;
}

.Input__Container button {
  outline: none;
  cursor: pointer;
  border: 1px solid $color-data-science;
  font-size: 25px;
  padding: 15px 35px;
  background-color: $color-data-science;
  border-radius: $border-radius * 2;
  box-shadow: 1px 1px 1px 1px $color-shadow;
}

.Input__Container button:hover {
  box-shadow: 2px 2px 2px 2px $color-shadow;
}
