@import "../../styles.module.scss";

.LP__Main-Container {
  background-color: $color-background;
  display: grid;
  grid-template-rows: 100px 1fr;
}

.LP__Title {
  width: 90%;
  align-self: center;
  justify-self: center;
}

.LP__Title h2 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 36px;
}

.LP__Container {
  min-height: 600px;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}
