/* ----------------------- *\
|          $COLORS         |
\* ----------------------- */

/* ----------------------- */

$color-brand: #98ca3f;
$color-secondary: #182c3f;
$color-terciary: #4c4c4c;

$color-shadow: rgba(
  $color: #6d5e52,
  $alpha: 0.25,
);
