/* ----------------------- *\
|          $COLORS         |
\* ----------------------- */

/* ----------------------- */

$color-brand: #98ca3f;
$color-secondary: #182c3f;
$color-terciary: #4c4c4c;
$color-background: #f3f3f3;
$box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

$color-white: white;
$color-shadow: rgba(
  $color: #6d5e52,
  $alpha: 0.25,
);

$color-input: rgba(
  $color: #e2e8f0,
  $alpha: 0.5,
);
$color-input-border: rgba(
  $color: #6d5e52,
  $alpha: 0.5,
);

$color-data-science: #71d936;
$color-data-science-hover: #8ddf5e;

$border-radius: 5px;
