@import "../../styles.module.scss";

.Main-Grid-container {
  width: 100%;
  height: 600px;
  display: grid;
  grid-template: 1fr 18fr 1fr / 1fr 18fr 1fr;
  grid-template-areas:
    " . . . "
    ". container ."
    ". . .";
  align-items: center;
  justify-items: center;
}

.Grid-container {
  grid-area: container;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  gap: 50px;
  align-items: center;
  justify-items: center;
}
