@import "../../styles.module.scss";

.Navbar__Container {
  position: relative;
  background-color: $color-secondary;
  height: 50px;
  box-shadow: 2px 2px 1px 1px $color-shadow;
}

.Navbar__Logo {
  margin: 5px;
  height: 40px;
}
