@import "../../styles.module.scss";

.Card__Container {
  cursor: pointer;
  min-width: 100px;
  width: 100%;
  max-width: 300px;
  min-height: 100px;
  height: 100%;
  max-height: 300px;
  background-color: $color-white;
  border-radius: $border-radius * 2;
  box-shadow: 1.5px 1.5px 1.5px 1px $color-shadow;
}

.Container-Children p {
  margin: 0;
  font-weight: 600;
}

.Container-enabled {
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 100px;
  width: 100%;
  max-width: 300px;
  min-height: 100px;
  height: 100%;
  max-height: 300px;
  font-size: 2rem;
  text-align: center;
  align-self: center;
  display: grid;
  grid-template-rows: 100px 1fr;
  align-items: center;
  justify-items: center;
}

.Container-enabled:hover {
  box-shadow: 4px 3px 2px 2px $color-shadow;
}

.Container-disabled {
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 100px;
  width: 100%;
  max-width: 300px;
  min-height: 100px;
  height: 100%;
  max-height: 300px;
  font-size: 2rem;
  text-align: center;
  align-self: center;
  display: grid;
  grid-template-rows: 100px 1fr;
  align-items: center;
  justify-items: center;
  cursor: not-allowed;
  opacity: 0.5;
}

.Container-disabled:hover {
  box-shadow: none;
}
